# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
*.sqlite3

# Environments
env/
venv/

# Migrations
**/migrations/
!*/migrations/__init__.py

# PyCharm
.idea/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*
